---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=BAD_TOKEN&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 08 Jan 2023 15:37:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "DhH4jcfSAGAyDdN8Z3rWYXim2y8",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "9FM5rEGog4Yqz0DFlo_pncm2Oes",
              "id": "UCc96wBaIMkjH2JedZ5LIO4g",
              "snippet": {
                "title": "Escorpión Dorado el Chido",
                "description": "Este es el primer canal de su majestad Escorpión Dorado donde encontrarás lecciones de vida, escorpiones al volante temáticos de canciones, opiniones y demás cosas con todo el: Peluche en el estuche!!!!\nTambién se pueden suscribir a mi otro canal donde están los escorpiones al volante con famosos: https://www.youtube.com/user/elpelucheenelestuche\nCONTRATACIONES, CAMPAÑAS Y MÁS: soyalexmontiel@gmail.com",
                "customUrl": "@escorpiondorado",
                "publishedAt": "2009-05-21T15:28:39Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Escorpión Dorado el Chido",
                  "description": "Este es el primer canal de su majestad Escorpión Dorado donde encontrarás lecciones de vida, escorpiones al volante temáticos de canciones, opiniones y demás cosas con todo el: Peluche en el estuche!!!!\nTambién se pueden suscribir a mi otro canal donde están los escorpiones al volante con famosos: https://www.youtube.com/user/elpelucheenelestuche\nCONTRATACIONES, CAMPAÑAS Y MÁS: soyalexmontiel@gmail.com"
                }
              },
              "statistics": {
                "viewCount": "408846991",
                "subscriberCount": "4150000",
                "hiddenSubscriberCount": false,
                "videoCount": "380"
              }
            }
          ]
        }
  recorded_at: Sun, 08 Jan 2023 15:37:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=VBsB3FgqEx4&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "iEwgqsATVSkgYXZM-AvmExtzzhk",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "sdSTFQsZQwBrcKw3EmOInBUtUso",
              "id": "VBsB3FgqEx4",
              "snippet": {
                "publishedAt": "2022-11-29T19:37:40Z",
                "channelId": "UCvC4D8onUfXzvjTOM-dBfEA",
                "title": "Marvel's Midnight Suns Developer Livestream | Rise Up With The Midnight Suns",
                "description": "It's launch week & it's almost time to Rise Up With The Midnight Suns! Join us for a special livestream where Creative Director Jake Solomon attempts the hardest difficulty, we celebrate our upcoming launch and a special surprise!\n\n► Watch Marvel on Disney+: https://bit.ly/2XyBSIW\n► Subscribe to Marvel on YouTube: http://bit.ly/W[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=20&key=<YOUTUBE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "0QovUswUkpZAMOAhNXl28f15FVk",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "0Hh6gbZ9zWjnV3sfdZjKB5LQr6E",
              "id": "20",
              "snippet": {
                "title": "Gaming",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            }
          ]
        }
  recorded_at: Sun, 08 Jan 2023 15:37:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCvC4D8onUfXzvjTOM-dBfEA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "EXASnQTsSdb1fr_xCeCl6CZ9[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&maxResults=100&pageToken=&part=snippet,replies&videoId=VBsB3FgqEx4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"MMyFx5kS7YlhJqYfZIq8pyBk16k\",\n  \"pageInfo\": {\n    \"totalResults\":
        40,\n    \"resultsPerPage\": 100\n  },\n  \"items\": [\n    {\n      \"kind\":
        \"youtube#commentThread\",\n      \"etag\": \"qEpQOlygpx3_5dl6gEWcDYY6tXQ\",\n
        \     \"id\": \"UgyHzqTc4dKbqgFHC294AaABAg\",\n      \"snippet\": {\n        \"videoId\":
        \"VBsB3FgqEx4\",\n        \"topLevelComment\": {\n          \"kind\": \"youtube#comment\",\n
        \         \"etag\": \"gGVBIULsNrI84HmyofCDEflP8kY\",\n          \"id\": \"UgyHzqTc4dKbqgFHC294AaABAg\",\n
        \         \"snippet\": {\n            \"videoId\": \"VBsB3FgqEx4\",\n            \"textDisplay\":
        \"Watched the Devs play for about 4 hours and wasn&#39;t sure if this was
        my type of game but after enjoying 4 hours of watching I bought the Legendary.
        2 hours in and loving it so far.\",\n            \"textOriginal\": \"Watched
        the Devs play for about 4 hours and wasn't sure if this was my type of game
        but after enjoying 4 hours of watching I bought the Legendary. 2 hours in
        and loving it so far.\",\n            \"authorDisplayName\": \"Brian Schoenharl\",\n
        \           \"authorProfileImageUrl\": \"https://yt3.ggpht.com/ytc/AMLnZu8M10anEU-26aDg2V9XSJY8UtI_aTpV-GW4YQ=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCM2jrL2MaqyBDFasNaSkPGA\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCM2jrL2MaqyBDFasNaSkPGA\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 0,\n            \"publishedAt\": \"2022-12-19T17:18:52Z\",\n
        \           \"updatedAt\": \"2022-12-19T17:18:52Z\"\n          }\n        },\n
        \       \"canReply\": true,\n        \"totalReplyCount\": 0,\n        \"isPublic\":
        true\n      }\n    },\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"WITb2AazBXBvIMWEQ4jviQzte8A\",\n      \"id\": \"Ugympyji94VDoTJfYjx4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"VBsB3FgqEx4\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"B6DrRffhX7JQJ_hC2IKJCduuw58\",\n
        \         \"id\": \"Ugympyji94VDoTJfYjx4AaABAg\",\n          \"snippet\":
        {\n           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCM2jrL2MaqyBDFasNaSkPGA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "FIcp690lqe7SSCPLXATrO2lo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCEN-g5d5rX2dudaVa39zx3g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "c1LNUmt0IYHtMxfzqmnS2t_b[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCUrCSqLs2Xtgfh37AlKzYEA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "Tte0JzC_U3nFdl-C6tJz2_vA[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCuwAxJ2pXVNS0lD6HBiJ8tA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-5LJjFlt86TyEjNN_vxQucw5[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC6ibdsa2tPbLRaz2jMxU5VQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "VM50S1VYIMqHtxZINhVjmReQ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC02Zkj9ODQQDIMBjGQPhZGw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"twd-h4nuDvJeq6G-965Y7XIb_ck\",\n
       [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCnnaQCdNlhLag11QsXT6GMQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "Hh0NsDHkQxK6uv8Yp24BEBz7[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCbLBm-tkxw83AhZpSueXVtA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "zsCj2Sam1JmgBTg-4UyDrySO[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCSHqLHupq9-68eXfldoR6Tw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "zhZuKkMl1qy0y7iXZLwb5Cww[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCVXHpHG9U-lA0NF0S3PpNAg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "p-W5xFN2mlo8EyLNqXrOqX5-[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCWwSlKKny4ccc-xnfIVlQWg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "hD-ivSku8mXmRRQoEuC6kxjL[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCxBZfxZunWNfmPMhraBlLoA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "7YZ7xMO9NcloBTOoYTRmq_1i[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCieNg6c45ZHhwtfmtc5WKyA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bzJl7Eo3tE1_vW9D2XHEE1iZ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCCoFvGIwhH5CyfLCGLnPf1w&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "oNl2IaRDRzc-ZGk6znXStFao[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCezxGFlvJFFsr8f3DYU3uCQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "BbIfGTvdTAO8-bL8NmXSYoDr[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCItJEAj7bZ3V8lJ7ax_k-kg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "FmHyKbiDm0Eogk-07dqGsEuR[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UClArq0W32zpFrpCBBYDBmBA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "uUUgrEP8A2k3K9hcNhfpoRLV[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCrzbmX3Yd-RROh7YDQTqeZQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-IZBfm5jLs1NUVApZDZni1WV[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCujeXk_S0oLuYsnBdMYguZQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "r8o5wkzXVZhAWadlLZm7bpXy[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC3uT2SW61jKJkIxaYDqy2TA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "VACpFfwjRT1SMlqWCh_QvJHz[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCziE6DKD1IO0nrGzB4yuuTg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "xa7d6088wFe00WhH3FWc1SA5[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCPe8WpENJthSwu41uvxtWJA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "IDJfLOoufYFLJXWNtjmrk3MY[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCkdqh8-xRBXze38rpFJDSSQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "kT7PrRIem8AOrghxnaSOAIBz[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCkzbATE3qYS43p7c20j6gZQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "lTqPmDi9RnsH8sQg-0WKULbz[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCP4jHoPT8R6pANMH6xHcvAQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bW9nRaDIJdfpozPn0UxzyENY[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBqJ4amH89c3Ebq770Ynm-Q&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "wp5Y7u6p8G7zh1c34R4Tdefo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCufrwSUX00W4c-xZV8syhsA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-F5EMJR38c5uv9I1nGrUQeBe[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCz3CyxheX6iDEV6Y3H7Mrvw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "K8ROlz9R2KIq0DCWCxNtdWPI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCZLgLGsXz-uGgMMoI2HRNQg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "SPLIxBpI2nk-e6pjcVLhd4qb[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCdUHEBKtG9EC8MRvL0FGT5g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "qfYO5Ip3ybr1FwBK5cH2h1sv[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBIuu8XvjRnvbDhWujWv0cA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "rklGIrjn37JOz8DenSf56mTQ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC5A2rcTJ194iMrSrNPfW00w&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "CDcgbYbbcmYJa9MG8QAL5-Q0[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCNoKkNjW1qEDcsYkT9cLSwQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"oXVed-c0Cb6hx8uf2to7Wr6dajY\",\n
       [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCfO-iMFpbv1y1Ed9jMdXAJw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "8CtXDESuCUh9q2GVNKMvCNpl[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCLbP_0QIfm-WR0k0xAVZJ0Q&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "9EZuNdjtp8GlB70uqoNCKGpS[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCuydVwGxtrzyy4PJQx9L_-Q&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "v-lQ_18ygDASeov8cUWrK31v[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCtK8-n6UH-CRqoL9FssQszw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "QglGm5acOppSOrakLrOXozdy[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCgIxgftolqzkw2bWGvbIClg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "toqetml4z_8M4YhLdU6RH_cD[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9reTrHdL7rQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
[...]
