---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"cf9U3oqhILnZ6vWDd_b0lrAprk4\",\n  \"nextPageToken\": \"QURTSl9pMnNoc3BSZ1pFRlhNXzlkVWN5OHBkb3V0cEk2VkNQSVdWR21rbmJmUE9pYl9qS2RsY09GdURickktZnJIVjhxckJJczFkZWZpYkxvVlUwR3BuOWpaQldfUy1ZUkE=\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"zaQsTubyAiNd_zi1KycEszbsEgQ\",\n      \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"ggGINmj5EQE\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"bGpzFxQD3ciAbofIcAbQ1Xw_OEs\",\n
        \         \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"ggGINmj5EQE\",\n            \"textDisplay\":
        \"Otra saga así de chula: \\u003ca href=\\\"https://www.youtube.com/watch?v=Mc_u5XEWVNw\\\"\\u003ehttps://www.youtube.com/watch?v=Mc_u5XEWVNw\\u003c/a\\u003e\",\n
        \           \"textOriginal\": \"Otra saga así de chula: https://www.youtube.com/watch?v=Mc_u5XEWVNw\",\n
        \           \"authorDisplayName\": \"El FedeWolf\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AMLnZu_uJvyPLGU110GEPsqG7ZppdBYTdA8CjDPbmAkjrQ=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCWI2X2x3KASrvEZXdBVNxkA\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCWI2X2x3KASrvEZXdBVNxkA\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1430,\n            \"publishedAt\":
        \"2022-09-08T21:03:10Z\",\n            \"updatedAt\": \"2022-09-08T21:03:10Z\"\n
        \         }\n        },\n        \"canReply\": true,\n        \"totalReplyCount\":
        82,\n        \"isPublic\": true\n      },\n      \"replies\": {\n        \"comments\":
        [\n          {\n            \"kind\": \"youtube#comment\",\n            \"etag\":
        \"s38de3G7dYGrv_Q6GzAnFBlgstw\",\n            \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg.9fj9LeWRE-39iGC6nrO20Z\",\n
        \           \"snippet\": {\n              \"videoId\": \"ggGINmj5EQE\",\n
        \             \"textDisplay\": \"Golum es un elfo\",\n              \"textOriginal\":
        \"Golum es un elfo\",\n              \"parentId\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \             \"authorDisplayName\": \"Eckma Aztecka Oficial\",\n              \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AMLnZu_Vkob1aQQNXF2ZiSUWZFAuU9iAMDm_xg2M2L11=s48-c-k-c0x00ffffff-no-rj\",\n
        \             \"authorChannelUrl\": \"http://www.youtube.com/channel/UCBKUEA4ubwohtGJ2pfjY0qg\",\n
        \             \"authorChannelId\": {\n                \"value\": \"UCBKUEA4ubwohtGJ2pfjY0qg\"\n
        \             },\n  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:26:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "Q0xgUf8BFM8rW3W0R9wNq809xyA",
              "id": "2",
              "snippet": {
                "title": "Autos & Vehicles",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "qnpwjh5QlWM5hrnZCvHisqu[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:26:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=1&key=<YOUTUBE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "s6RguhiCzdsBQFsS4YzslvqtQtI",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            }
          ]
        }
  recorded_at: Sat, 12 Nov 2022 08:26:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=1&key=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:26:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "wBJk5AvBrDoaY0Bx4AKBqtufnIw",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "jiOwJwOO03OD3eHVGqERq8tDYWM",
              "id": "ggGINmj5EQE",
              "snippet": {
                "publishedAt": "2022-09-08T21:01:43Z",
                "channelId": "UCWI2X2x3KASrvEZXdBVNxkA",
                "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  }
                },
                "channelTitle": "El FedeWolf",
                "tags": [
                  "series",
                  "peliculas",
                  "comedia",
                  "resumen",
                  "la historia en 1 video",
                  "la saga en 1 video",
                  "fedelobo",
                  "fedewolf",
                  "resumen fedelobo",
                  "resumen fedewolf",
                  "historia fedelobo",
                  "historia fedewolf",
                  "fede lobo",
                  "fede wolf"
                ],
                "categoryId": "1",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                  "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo"
                }
              },
              "contentDetails": {
                "duration": "PT43M16S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "3348469",
                "likeCount": "166066",
                "favoriteCount": "0",
                "commentCount": "6368"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:26:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=BAD_TOKEN&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:26:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "yAbuJmZprALdRw6ktLmeIYma9TQ",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "g0WlmyVTfW1EpNwMV1KaTe2gWnE",
              "id": "UCc96wBaIMkjH2JedZ5LIO4g",
              "snippet": {
                "title": "Escorpión Dorado el Chido",
                "description": "Este es el primer canal de su majestad Escorpión Dorado donde encontrarás lecciones de vida, escorpiones al volante temáticos de canciones, opiniones y demás cosas con todo el: Peluche en el estuche!!!!\nTambién se pueden suscribir a mi otro canal donde están los escorpiones al volante con famosos: https://www.youtube.com/user/elpelucheenelestuche\nCONTRATACIONES, CAMPAÑAS Y MÁS: soyalexmontiel@gmail.com",
                "customUrl": "@escorpiondorado",
                "publishedAt": "2009-05-21T15:28:39Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s240-c-k-c0x00ffff[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=BAD_TOKEN&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:27:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"ZWYN6ZqDubVnMRdRqUfHRB018YE\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"4Bsj0cDRRewtOM10up3wCkiaTEU\",\n      \"id\": \"uwT8CGrZqag\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-11-10T23:24:28Z\",\n        \"channelId\":
        \"UCBe3OHzEDLBpK38NaEPbXXQ\",\n        \"title\": \"BIENVENIDO ZEUS \U0001F37C\U0001F499
        PARTE 2\",\n        \"description\": \"✨REDES ✨ \\n\\nNIKKI: https://instagram.com/nicollefigueroaa?utm_medium=copy_link\\n\\nAUGUS:
        https://instagram.com/augus.gimenez?utm_medium=copy_link\\n\\nDirección de
        video y edición: \\nhttps://instagram.com/estuardguinea?igshid=YmMyMTA2M2Y=\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/uwT8CGrZqag/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/uwT8CGrZqag/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/uwT8CGrZqag/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/uwT8CGrZqag/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/uwT8CGrZqag/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"NIKKI Y AUGUS\",\n        \"categoryId\": \"22\",\n
        \       \"liveBroadcastContent\": \"none\",\n        \"localized\": {\n          \"title\":
        \"BIENVENIDO ZEUS \U0001F37C\U0001F499 PARTE 2\",\n          \"description\":
        \"✨REDES ✨ \\n\\nNIKKI: https://[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 12 Nov 2022 08:27:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=lzx22zcmpy0&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YIUPVpqNjppyCWOZfL-19bLb7uk",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Sat, 12 Nov 2022 15:39:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=LZx22ZcMPy0&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "8f15ifs3-FzeiiGIK9liLVg6vK[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCvC4D8onUfXzvjTOM-dBfEA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "uC7Whk-l95F4WM-CNFPYFZU4[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&maxResults=100&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Thu, 01 Dec 2022 03:22:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&maxResults=100&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"40op7IeU9BJmu8-S[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=VBsB3FgqEx4&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "2H83ArHIJXjaPbiYSOcBsEr_5s[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&maxResults=100&part=snippet,replies&videoId=VBsB3FgqEx4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"rUFGakDOXwmHBk0-[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCxBZfxZunWNfmPMhraBlLoA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "7YZ7xMO9NcloBTOoYTRmq_1i[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCieNg6c45ZHhwtfmtc5WKyA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bzJl7Eo3tE1_vW9D2XHEE1iZ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCCoFvGIwhH5CyfLCGLnPf1w&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "oNl2IaRDRzc-ZGk6znXStFao[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCezxGFlvJFFsr8f3DYU3uCQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "BbIfGTvdTAO8-bL8NmXSYoDr[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCItJEAj7bZ3V8lJ7ax_k-kg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "O0Rhz1weLJPBmYfhDR1VGRLv[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UClArq0W32zpFrpCBBYDBmBA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "GgNBGw498zPU6wf7KmHRxImK[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCrzbmX3Yd-RROh7YDQTqeZQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-IZBfm5jLs1NUVApZDZni1WV[...]
- request:
    method: get
[...]
