---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=VBsB3FgqEx4&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "wKZK0YJTU18_hyKfxLUSnMoNNrc",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "pm9VCSzhstYSYyqrfes3n_D1XTw",
              "id": "VBsB3FgqEx4",
              "snippet": {
                "publishedAt": "2022-11-29T19:37:40Z",
                "channelId": "UCvC4D8onUfXzvjTOM-dBfEA",
                "title": "Marvel's Midnight Suns Developer Livestream | Rise Up With The Midnight Suns",
                "description": "It's launch week & it's almost time to Rise Up With The Midnight Suns! Join us for a special livestream where Creative Director Jake Solomon attempts the hardest difficulty, we celebrate our upcoming launch and a special surprise!\n\n► Watch Marvel on Disney+: https://bit.ly/2XyBSIW\n► Subscribe to Marvel on YouTube: http://bit.ly/WeO3YJ\n\nFollow Marvel on Twitter: \u202ahttps://twitter.com/marvel\nLike Marvel on Facebook: \u202ahttps://www.facebook.com/marvel\nWatch Marvel on Twitch: https://www.twitch.tv/marvel\n\nReward your Marvel fandom by joining Marvel Insider!\nEarn points, then redeem for awesome rewards.\nTerms and conditions apply. \nLearn more at https://www.marvel.com/insider?Osocial=YT&CID=MarvelInsider\n\nFor even more news, stay tuned to:\nTumblr: \u202ahttp://marvelentertainment.tumblr.com/\nInstagram: https://www.instagram.com/marvel\nPinterest: \u202ahttp://pinterest.com/marvelofficial\nReddit: http://reddit.com/u/marvel-official",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/VBsB3FgqEx4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/VBsB3FgqEx4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/VBsB3FgqEx4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/VBsB3FgqEx4/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/VBsB3FgqEx4/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "Marvel Entertainment",
                "tags": [
                  "marvel",
                  "comics",
                  "midnight suns",
                  "firaxis",
                  "midnight sons",
                  "marvels midnight suns",
                  "midnight suns game",
                  "midnight suns gameplay",
                  "midnight suns trailer",
                  "marvels midnight sons",
                  "marvel games",
                  "marvel midnight suns",
                  "marvel's midnight suns",
                  "midnight suns official trailer",
                  "pc",
                  "midnight suns rpg",
                  "midnight suns firaxis",
                  "marvel firaxis",
                  "video games",
                  "2k"
                ],
                "categoryId": "20",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "Marvel's Midnight Suns Developer Livestream | Rise Up With The Midnight Suns",
                  "description": "It's launch week & it's almost time to Rise Up With The Midnight Suns! Join us for a special livestream where Creative Director Jake Solomon attempts the hardest difficulty, we celebrate our upcoming launch and a special surprise!\n\n► Watch Marvel on Disney+: https://bit.ly/2XyBSIW\n► Subscribe to Marvel on YouTube: http://bit.ly/WeO3YJ\n\nFollow Marvel on Twitter: \u202ahttps://twitter.com/marvel\nLike Marvel on Facebook: \u202ahttps://www.facebook.com/marvel\nWatch Marvel on Twitch: https://www.twitch.tv/marvel\n\nReward your Marvel fandom by joining Marvel Insider!\nEarn points, then redeem for awesome rewards.\nTerms and conditions apply. \nLearn more at https://www.marvel.com/insider?Osocial=YT&CID=MarvelInsider\n\nFor even more news, stay tuned to:\nTumblr: \u202ahttp://marvelentertainment.tumblr.com/\nInstagram: https://www.instagram.com/marvel\nPinterest: \u202ahttp://pinterest.com/marvelofficial\nReddit: http://reddit.com/u/marvel-official"
                },
                "defaultAudioLanguage": "en"
              },
              "contentDetails": {
                "duration": "PT1H31M15S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "55758",
                "likeCount": "1841",
                "favoriteCount": "0",
                "commentCount": "51"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:15:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=20&key=<YOUTUBE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "0QovUswUkpZAMOAhNXl28f15FVk",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "0Hh6gbZ9zWjnV3sfdZjKB5LQr6E",
              "id": "20",
              "snippet": {
                "title": "Gaming",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            }
          ]
        }
  recorded_at: Sun, 04 Dec 2022 04:15:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9reTrHdL7rQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "J8aR5WJatfdPVZT6UNYGegd_q5[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:15:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=1&key=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:00 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=BAD_TOKEN&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCc96wBaIMkjH2JedZ5LIO4g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "p-0Vvp_WOG01Kb5J7LkbAlOeHcA",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "NW-vQ2HePYwTO5J1VyQdImjqS_s",
              "id": "UCc96wBaIMkjH2JedZ5LIO4g",
              "snippet": {
                "title": "Escorpión Dorado el Chido",
                "description": "Este es el primer canal de su majestad Escorpión Dorado donde encontrarás lecciones de vida, escorpiones al volante temáticos de canciones, opiniones y demás cosas con todo el: Peluche en el estuche!!!!\nTambién se pueden suscribir a mi otro canal donde están los escorpiones al volante con famosos: https://www.youtube.com/user/elpelucheenelestuche\nCONTRATACIONES, CAMPAÑAS Y MÁS: soyalexmontiel@gmail.com",
                "customUrl": "@escorpiondorado",
                "publishedAt": "2009-05-21T15:28:39Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu_C8OuLGUl5qeTahA6C7ryenAR12YJLc3JOZ6lR=s240-c-k-c0x00ffff[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&maxResults=100&part=snippet,replies&videoId=VBsB3FgqEx4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&maxResults=100&part=snippet,replies&videoId=VBsB3FgqEx4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"4d7-BpmtXEHnUY1vlRrkOmvLiow\",\n  \"pageInfo\": {\n    \"totalResults\":
        39,\n    \"resultsPerPage\": 100\n  },\n  \"items\": [\n    {\n      \"kind\":
        \"youtube#commentThread\",\n      \"etag\": \"WITb2AazBXBvIMWEQ4jviQzte8A\",\n
        \     \"id\": \"Ugympyji94VDoTJfYjx4AaABAg\",\n      \"snippet\": {\n        \"videoId\":
        \"VBsB3FgqEx4\",\n        \"topLevelComment\": {\n          \"kind\": \"youtube#comment\",\n
        \         \"etag\": \"B6DrRffhX7JQJ_hC2IKJCduuw58\",\n          \"id\": \"Ugympyji94VDoTJfYjx4AaABAg\",\n
        \         \"snippet\": {\n            \"videoId\": \"VBsB3FgqEx4\",\n            \"textDisplay\":
        \"Easily destroy all DCU and DCEU, WB sold DC to China’s Tencent\",\n            \"textOriginal\":
        \"Easily destroy all DCU and DCEU, WB sold DC to China’s Tencent\",\n            \"authorDisplayName\":
        \"肺炎武汉\",\n            \"authorProfileImageUrl\": \"https://yt3.ggpht.com/ytc/AMLnZu92oTckcvmM4ukkAoMssmqAhiijpM-HPrDPvfyHfHwkrw=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCEN-g5d5rX2dudaVa39zx3g\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCEN-g5d5rX2dudaVa39zx3g\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1,\n            \"publishedAt\": \"2022-12-03T06:02:48Z\",\n
        \           \"updatedAt\": \"2022-12-03T06:02:48Z\"\n          }\n        },\n
        \       \"canReply\": true,\n        \"totalReplyCount\": 0,\n        \"isPublic\":
        true\n      }\n    },\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"G1VqpwXgpc2YDPfxt-JOR1IAfXg\",\n      \"id\": \"UgxrxLZxRCP0i-IJ0vp4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"VBsB3FgqEx4\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"_o4qw6aDN2_boIOuruKkBsMGm6A\",\n
        \         \"id\": \"UgxrxLZxRCP0i-IJ0vp4AaABAg\",\n          \"snippet\":
        {\n           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"Y00YVQh332Thf2a7k1G6Xs9XWEc\",\n
        \ \"items\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=adsf&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YIUPVpqNjppyCWOZfL-19bLb7uk",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCEN-g5d5rX2dudaVa39zx3g&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "c1LNUmt0IYHtMxfzqmnS2t_b[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCUrCSqLs2Xtgfh37AlKzYEA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "L1nGH5s4mMGGRNCHyW8JF3Um[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCuwAxJ2pXVNS0lD6HBiJ8tA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-5LJjFlt86TyEjNN_vxQucw5[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC6ibdsa2tPbLRaz2jMxU5VQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "_VZb6lU7Kpld4QPljk_NtQ_L[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC02Zkj9ODQQDIMBjGQPhZGw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"npSTLRLYuJetVzCmhZePMHDw-tE\",\n
       [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCnnaQCdNlhLag11QsXT6GMQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "Hh0NsDHkQxK6uv8Yp24BEBz7[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCbLBm-tkxw83AhZpSueXVtA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "zsCj2Sam1JmgBTg-4UyDrySO[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCSHqLHupq9-68eXfldoR6Tw&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "zhZuKkMl1qy0y7iXZLwb5Cww[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCVXHpHG9U-lA0NF0S3PpNAg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "s008LBjIxh2wfaGVmRc14pHb[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCWwSlKKny4ccc-xnfIVlQWg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "hD-ivSku8mXmRRQoEuC6kxjL[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=VBsB3FgqEx4&key=BAD_TOKEN&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 04 Dec 2022 04:16:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCvC4D8onUfXzvjTOM-dBfEA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "KeRXn0JNuknQUAHIZoL2czoT[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCxBZfxZunWNfmPMhraBlLoA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "7YZ7xMO9NcloBTOoYTRmq_1i[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCieNg6c45ZHhwtfmtc5WKyA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bzJl7Eo3tE1_vW9D2XHEE1iZ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCCoFvGIwhH5CyfLCGLnPf1w&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "oNl2IaRDRzc-ZGk6znXStFao[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCezxGFlvJFFsr8f3DYU3uCQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "BbIfGTvdTAO8-bL8NmXSYoDr[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCItJEAj7bZ3V8lJ7ax_k-kg&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "O0Rhz1weLJPBmYfhDR1VGRLv[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UClArq0W32zpFrpCBBYDBmBA&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "GgNBGw498zPU6wf7KmHRxImK[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCrzbmX3Yd-RROh7YDQTqeZQ&key=<YOUTUBE_API_KEY>&part=snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
[...]
